# Data Science Tools and Ecosystem

## Author

Cathrina Lingao

## In this notebook, Data Science Tools and Ecosystem are summarized

## **Objectives:**

- List popular languages for Data Science
- Commonly used libraries by Data Scientists
- Data Science Tools
- Arithmetic Expression in Python

### Some of the popular languages Data Scientists use are:

1. Python
2. SQL
3. R
4. Java

### Some of the commonly used libraries used by Data Scientist include:

1. Pandas
2. Matplotlib
3. TensorFlow
4. Scikit-learn
5. SciPy
6. NumPy

| Data Science Tools |
|--------------------|
|RStudio|
|TensorFlow|
|Anaconda|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

#### addition 
2+2
#### multiplication 
3*6
#### multiplication and addition
(2*2)+5

### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [4]:
200/6

33.333333333333336